@font-face{
  font-family: 'mplus-1p-regular';
  src: url('http://mplus-webfonts.sourceforge.jp/mplus-1p-regular.eot');
  src: url('http://mplus-webfonts.sourceforge.jp/mplus-1p-regular.eot?#iefix') format('embedded-opentype'),
       url('http://mplus-webfonts.sourceforge.jp/mplus-1p-regular.woff') format('woff'),
       url('http://mplus-webfonts.sourceforge.jp/mplus-1p-regular.ttf') format('truetype');
}

.a1j {
  font-family: 'mplus-1p-regular';
}

.a1e {
  font-family: 'mplus-1p-regular';
}

.a2 {
    font-family: 'mplus-1p-regular';
}

.a3 {
  font-family: 'mplus-1p-regular';
}

/*お願いだからCommitさせてくれ*/
/*その２*/
/*その3*/
