.a1j {
  font-family: 'Avenir','Corbel','Osaka';
}

.a1e {
  font-family: 'Avenir','Corbel','Osaka';
}

.a2 {
  font-family: 'Avenir','Corbel','Osaka';
}

.a3 {
  font-family: 'Avenir','Corbel','Osaka';
}
